.todo-container
{
    margin-bottom: 5rem;
}
.todo-item
{
    position: relative;
    display: flex;
    align-items: center;
}
[data-date]::before
{
    content: attr(data-date);
    position: absolute;
    bottom: 0;
    font-size: .7rem;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
.todo-item  input
{
    transform: scale(1.5);
    margin: .2rem 1rem;
}
.todo-item  span
{
    font-size: 1.1rem;
    font-weight: 800;
    letter-spacing: .12rem;
    flex: 1;
    padding-bottom: .2rem;
}
i.todo-delete-icon
{
    font-size: 1.5rem;
    color: hsl(0, 92%, 46%);
}